*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: green;
    background-color: lightgrey;
}
header{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.agendamento a{
    text-decoration: none;
    color: green;
    font-size: 25px;
}
/*.objetivo img{
    opacity: 50%;
    width: 100%;
    height: auto;
}*/
.objetivo{
    background-image: url(../assets/malhar.PNG);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 50%; 
}
.objetivo h1{
    color: white;
    font-size: 80px;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    position: absolute;
    top:30%;
    left: 30%;
    translate: (-30%, -30%);
}
.objetivo h2{
    color: white;
    font-size: 80px;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    position: absolute;
    top:40%;
    left: 28%;
    translate: (-40%, -28%);
}
.objetivo span{
    color: green;
}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding: 20px;
}

.slides {
    display: flex;
    animation: slide 10s infinite;
}

.slides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-20%);
    }

    66% {
        transform: translateX(-43%);
    }

    100% {
        transform: translateX(0);
    }
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 50px;
}

.catalogo-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.catalogo-card:hover {
    transform: scale(1.05);
}

.catalogo-card img {
    width: 100%;
    border-radius: 10px;
}

.catalogo-card h3 {
    font-size: 20px;
    margin: 15px 0;
}

.catalogo-card p {
    color: #555;
    margin-bottom: 15px;
}

.catalogo-card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.catalogo-card button:hover {
    background-color: #0056b3;
}

.catalogo-card:hover {
    transform: scale(1.05);
}

section .video{
    text-align: center;
    margin-top: 20px;
}
section .trabalho{
    text-align: center;
}

#formulario-contato {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    margin-top: 100px;
    margin-left: 25%;
}
#formulario-contato h2 {
    text-align: center;
    color: #333;
}
#formulario-contato label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
#formulario-contato input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#formulario-contato button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
#formulario-contato button:hover {
    background-color: #0056b3;
}
#formulario-contato .img-form {
    padding: 10px;
    text-align: center;
}

#calculadora-imc {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#calculadora-imc input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#calculadora-imc button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calculadora-imc button:hover {
    background-color: #218838;
}
